.App {
    padding: 1rem;
    background: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardWrapper {
    max-width: 800px;
    height: 70%;
    display: flex;
}

.header {
    display: flex;
    padding: 1rem;
}

.avatar {
    float: left;
    margin-right: 1rem;
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;
}

.avatar:hover {
    border-radius: 0 0 2rem 0;
}

.text {
    padding: 1rem;
}